<html>
	<head>
		<meta charset="utf-8">
		<title>Accounting Software</title>
		<link rel="stylesheet" href="/stylesheets/invoice_style.css">
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
		<script src="/scripts/invoice_script.js"></script>
	</head>
	<body>
		<header>
			<h1>Invoice</h1>
			<address contenteditable>
				<p><%=invoice.client.firstName%> <%=invoice.client.lastName%></p>
				<p><%=invoice.client.address.address1%> <%=invoice.client.address.city%><br><%=invoice.client.address.state%>, <%=invoice.client.address.country%> <%=invoice.client.address.pincode%></p>
				<p><%=invoice.client.countryCode%> <%=invoice.client.phone%></p>
			</address>
			<span><img alt="" src="/company_logo.png"><input type="file" accept="image/*"></span>
		</header>
		<article>
			<h1>Recipient</h1>
			<address contenteditable>
				<p><%=user.company.name%></p>
			</address>
			<table class="meta">
				<tr>
					<th><span contenteditable>Invoice #</span></th>
					<td><span contenteditable id="invoiceNumber"><%=invoice.id%></span></td>
				</tr>
				<tr>
					<th><span contenteditable>Date</span></th>
					<td><span contenteditable id="date"><%=invoice.date%></span></td>
				</tr>
				<tr>
					<th><span contenteditable>Amount Due</span></th>
					<td><span id="prefix" contenteditable><%=currency%></span><span id="amountDue"><%=invoice.amountDue%></span></td>
				</tr>
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<th><span contenteditable>Item</span></th>
						<th><span contenteditable>Description</span></th>
						<th><span contenteditable>Rate</span></th>
						<th><span contenteditable>Quantity</span></th>
						<th><span contenteditable>Price</span></th>
					</tr>
				</thead>
				<tbody>
					<%var i = 0%>
					<% invoice.items.forEach(function(item) { %>
						<tr>
							<td><a class="cut">-</a><span contenteditable id="item<%=i%>"><%=item.item%></span></td>
							<td><span contenteditable id="description<%=i%>"><%=item.description%></span></td>
							<td><span data-prefix><%=currency%></span><span contenteditable id="rate<%=i%>"><%=item.rate%></span></td>
							<td><span contenteditable id="quantity<%=i%>"><%=item.quantity%></span></td>
							<td><span data-prefix><%=currency%></span><span id="price<%=i++%>"><%=item.price%></span></td>
						</tr>
					<% }) %>
					
				</tbody>
			</table>
			<a class="add">+</a>
			<table class="balance">
				<tr>
					<th><span contenteditable>Total</span></th>
					<td><span data-prefix></span></span><span id="total"><%=invoice.total%></span></td>
				</tr>
				<tr>
					<th><span contenteditable >Amount Paid</span></th>
					<td><span data-prefix><%=currency%></span><span contenteditable id="amountPaid"><%=invoice.amountPaid%></span></td>
				</tr>
				<tr>
					<th><span contenteditable>Balance Due</span></th>
					<td><span data-prefix><%=currency%></span><span id="balanceDue"><%=invoice.balanceDue%></span></td>
				</tr>
			</table>
		</article>
		<aside>
			<h1><span contenteditable>Additional Notes</span></h1>
			<div contenteditable>
				<p id="notes"><%=invoice.notes%></p>
			</div>
		</aside>
		<div id="buttons">
			<button class="button" onclick="submitForm()" id ="save_button">Save</button>
			<button class="button" onclick="printForm()" id="print_button">Print</button>
		</div>
		
		<div class="hidden">
			<form action="/invoice/create" method="post" id="hiddenForm">
				<input type="text" name="numRows" value="1">
				<input type="text" name="clientId" value="<%=invoice.client.id%>">
				<input type="text" name="invoiceNumber">
				<input type="text" name="date">
				<input type="text" name="amountDue">
				<input type="text" name="total">
				<input type="text" name="amountPaid">
				<input type="text" name="balanceDue">
				<input type="text" name="notes">
				<div id="inventoryItems">
					<div>
						<input type="text" name="item1">
						<input type="text" name="description1">
						<input type="text" name="rate1">
						<input type="text" name="quantity1">
						<input type="text" name="price1">
					</div>
				</div>
			</form>
		</div>
	</body>

	<script>
		function submitForm() {
			var invoiceNumber = document.querySelector('#invoiceNumber').innerText;	
			document.querySelector('input[name="invoiceNumber"]').value = invoiceNumber;
			var date = document.querySelector('#date').innerText
			document.querySelector('input[name="date"]').value = date;	
			var amountDue = document.querySelector('#amountDue').innerText;	
			document.querySelector('input[name="amountDue"]').value = amountDue;	
			var total = document.querySelector('#total').innerText;	
			document.querySelector('input[name="total"]').value = total;	
			var amountPaid = document.querySelector('#amountPaid').innerText;	
			document.querySelector('input[name="amountPaid"]').value = amountPaid;	
			var balanceDue = document.querySelector('#balanceDue').innerText;	
			document.querySelector('input[name="balanceDue"]').value = balanceDue;	
			var notes = document.querySelector('#notes').innerText;
			document.querySelector('input[name="notes"]').value = notes;
			var noRows = document.querySelector('input[name="numRows"]').value;
			noRows = parseInt(noRows);
			while(noRows > 0){
				var item = document.querySelector('#item'+noRows).innerText;
				document.querySelector('input[name="item'+noRows+'"]').value = item;
				var description = document.querySelector('#description'+noRows).innerText;
				document.querySelector('input[name="description'+noRows+'"]').value = item;
				var rate = document.querySelector('#rate'+noRows).innerText;
				document.querySelector('input[name="rate'+noRows+'"]').value = rate;
				var quantity = document.querySelector('#quantity'+noRows).innerText;
				document.querySelector('input[name="quantity'+noRows+'"]').value = quantity;
				var price = document.querySelector('#price'+noRows).innerText;
				document.querySelector('input[name="price'+noRows+'"]').value = price;
				noRows--;
			}
			document.querySelector('#hiddenForm').submit();
		}

		function printForm() {
			document.querySelector('#buttons').style.display = "none";
			window.print();
			document.querySelector('#buttons').style.display = "block";
		}
	</script>

</html>