<% include ../partials/header %>
<div class="buttons">
  <a href="/report" class="button is-success is-light"><i class="fas fa-chevron-left fa-fw"></i> Go Back</a>

</div>
<div class="columns is-vcentered">
  <div class="column">
    <h1 class="is-size-1 is-pulled-left"><%= type%></h1>
  </div>
  <div class="column">
    <div class="dropdown is-right is-hoverable is-pulled-right">
      <div class="dropdown-trigger">
        <button class="button is-size-4 is-success is-rounded">
          <span>Send</span>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>

<div class = "tile is-ancestor ">
  <div class="tile is-parent is-15">
      <div class="tile is-child box">
        <h1 class = "is-size-1 has-text-success"><%= type%></h1>
        <h2 class = "is-size-4 has-text-grey-light"><%= company%></h2>
        <!-- <h2 class = "is-size-4 has-text-grey-light">From Date to Date</h2> -->
        <hr>

        <div class="table-container">
          <table class = "table is-scrollable is-fullwidth is-hoverable is-striped">

  <!-- ---------------------------------------ITEM SOLD--------------------------------------------------- -->
            <% if(type === "ITEM SOLD"){ %>
              <thead>
                <th class = "report-header has-text-white is-size-4">Summary</th>
              </thead>
              <thead class = "">
                <tr>
                  <th class ="is-size-5">Total Units:</th>
                  <td><span class = "is-pulled-right is-size-5"><%= totalUnits%></span></td>
                </tr>
                <tr>
                  <th class ="is-size-5">Total Sales Amount:</th>
                  <td><span class = "is-pulled-right is-size-5"><%= currency.substring(0,1) + ' ' +totalAmount%></span></td>
                </tr>
              </thead>
              <% pseudoItems.forEach( pseudoItem => {%> 
                <thead>
                  <th class="report-header has-text-white is-size-5"><%= pseudoItem.Name %></th>
                </thead>
                <thead>
                  <tr>
                    <th class ="is-size-5">Total Units:</th>
                    <td><span class = "is-pulled-right is-size-5"><%= pseudoItem.totalQuantity %></span></td>
                  </tr>
                  <tr>
                    <th class ="is-size-5">Total Amount:</th>
                    <td><span class = "is-pulled-right is-size-5"><%= currency.substring(0,1) + ' ' + pseudoItem.totalPrice%></span></td>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Client Name</th>
                    <th>InvoiceID</th>
                    <th>Invoice Date</th>
                    <th>Per Unit Cost</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody class ="report-body is-size-5">
                  <% pseudoItem.details.forEach( detail =>{ %> 
                    <tr>
                      <td>
                        <a href="/client/<%=detail.clientID%>">
                          <p class ="has-text-black"><%= detail.clientName.firstName.substring(0,1) + '. ' + detail.clientName.lastName%></p>
                        </a> 
                      </td>
                      <td><a class="has-text-black" href="/invoice/<%= detail.invoiceID%>"><b><%= detail.invoiceID%></b></a></td>
                      <td><%= detail.invoiceDate%></td>
                      <td><%= currency.substring(0,1) + ' ' + pseudoItem.Rate%></td>
                      <td><%= detail.quantity%></td>
                      <td><%= currency.substring(0,1) + ' '+ detail.price%></td>
                    </tr>
                  <%});%>
                </tbody>
                <tfoot>
                </tfoot>

              <%});%>
            <%}%>
 <!-- --------------------------------------------------INVOICE DETAILS--------------------------------------------  -->

            <% if(type === "INVOICE DETAIL"){ %>
              <thead>
                <th class = "report-header has-text-white">All Client</th>
              </thead>
              <thead>
                <th>Summary</th>
              </thead>
              <thead>
                <tr>
                  <td class ="is-size-3">Total Invoiced</td>
                  <td class ="is-size-3"><span class ="is-pulled-right"><%= currency.substring(0,1) + ' ' + totalInvoiced%></span></td>
                </tr>

                <tr>
                  <td class ="is-size-3">Total Paid</td>
                  <td class ="is-size-3"><span class ="is-pulled-right"><%= currency.substring(0,1) + ' ' + totalPaid%></span></td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th class ="is-size-3">Amount Due</th>
                  <td class ="is-size-3"><span class ="is-pulled-right"><%= currency.substring(0,1) + ' ' + totalDue%></span></td>
                </tr>
              </tfoot>
              <% invoice.forEach((invoice) =>{ %>

                <thead>
                  <th class = "report-header has-text-white"><%= invoice.client.firstName + ' ' + invoice.client.lastName%></th>
                </thead>
                <thead>
                  <th>Summary</th>
                </thead>
                <thead>
                  <tr>
                    <td class ="is-size-5">Total Invoiced</td>
                    <td class ="is-size-5"><span class ="is-pulled-right"><%= currency.substring(0,1) + ' ' + invoice.total%></span></td>
                  </tr>

                  <tr>
                    <td class ="is-size-5">Total Paid</td>
                    <td class ="is-size-5"><span class ="is-pulled-right"> <%= currency.substring(0,1) + ' ' + invoice.amountPaid%></span></td>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th class ="is-size-5">Amount Due</th>
                    <td class ="is-size-5"><span class ="is-pulled-right"> <%= currency.substring(0,1) + ' ' + invoice.balanceDue%></span></td>
                  </tr>
                </tfoot>

                <thead>
                  <tr>
                    <th>Invoice #: <a href="/invoice/<%= invoice.id%>"><%= invoice.id %></a></th>
                    <th><span class = "is-pulled-right">Issued On: <%=invoice.date%> </span></th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                    <th><span class = "is-pulled-right">Line Total</span></th>
                  </tr>
                </thead>
                <tbody class = "report-body">
                  <% invoice.items.forEach(function(items){ %>
                    <tr>
                      <td>
                        <p class = "is-size-5"><%= items.Name%></p>
                        <p class = "is-size-6 has-text-grey-light"><%= items.Description%></p>
                      </td>
                      <td class = "is-size-5"><%= currency.substring(0,1) + ' ' + items.Rate%></td>
                      <td class = "is-size-5"><%= items.quantity%></td>
                      <td class = "is-size-5"><span class = "is-pulled-right"><%= currency.substring(0,1) + ' ' + items.price%></span></td>
                    </tr>
                  <%})%>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th class = "is-size-5"><b>Total Amount:</b></th>
                    <td class = "is-size-5"><span class = "is-pulled-right"><%= currency.substring(0,1) + ' ' + invoice.total%></span></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th class = "is-size-5"><b>Total Paid:</b></th>
                    <td><span class = "is-pulled-right is-size-5"><%= currency.substring(0,1) + ' ' + invoice.amountPaid%></span></td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th class = "is-size-5"><b>Amount Due:</b></th>
                    <td><span class = "is-pulled-right is-size-5"><%= currency.substring(0,1) + ' ' + invoice.balanceDue%></span></td>
                  </tr>
                </tfoot>
              <% })%>
            <%}%>

<!-- <%# --------------------------------------------EXPENSE REPORT----------------------------------------------- %> -->

            <% if(type === "EXPENSE REPORT"){ %>
              <thead>
                <th class="report-header has-text-white">Summary</th>
              </thead>
              <thead class="report-body">
                <th class = "is-size-4">Total Expense:</th>
                <td ><span class ="is-pulled-right is-size-4"><%= currency.substring(0,1) + ' '+total%></span></td>
              </thead>
            <% expense.forEach((expense) =>{ %>  
              <thead>
                <th class="report-header has-text-white"><%= expense.category%></th>
              </thead>
              <thead>
                <th>Vendor/ID</th>
                <th>Date</th>
                <th>Description</th>
                <th><span class="is-pulled-right">Total</span></th>
              </thead>
              <tbody class ="report-body">
                  <tr>
                    <td>
                      <p class ="has-text-grey-light is-size-7"><%= expense.vendor.Vendor_Name%></p>
                      <p class ="has-text-black is-size-5"><b><%= expense.vendor.Vendor_Id%></b></p>  
                    </td>
                    <td><%= expense.date%></td>
                    <td><%= expense.description%></td>
                    <td><span class="is-pulled-right"><%= currency.substring(0,1) + ' ' + expense.amount%></span></td>
                  </tr>
                  </tbody>
              <%});%>
              <tfoot>
                <td><span  class="is-pulled-right is-size-4"><b>Total :  <%= ' ' + currency.substring(0,1) + ' ' + total%></b></span></td>
              </tfoot>
            <%}%>
<!-- <%# -------------------------------------------CLIENT REPORT------------------------------------------------------ %> -->
            <% if(type === "CLIENT REPORT"){ %>
              <thead class = "">
                <th class= "report-header has-text-white is-size-5">Client/ID</th>
                <th class="report-header has-text-white is-size-5"><span class ="is-pulled-right">Total</span></th>
              </thead>
              <tbody>
                <% client.forEach((client) =>{ %>
                  <tr>
                    <td class = "is-size-5">
                      <a class ="has-text-black" href="/client/<%=client.id%>">
                        <p class = "is-size-7"><%= client.firstName.substring(0.1) + '.' + client.lastName%></p>
                        <p><b><%= client.id%></b></p>
                      </a>
                    </td>
                    <td><span class="is-pulled-right is-size-5"><%= currency.substring(0,1) + ' ' + client.stats.total%></span></td>
                  </tr>
                <% })%>
              </tbody>
              <tfoot>
                  <th class = "is-size-3">Total :</th>
                  <td><span class="is-pulled-right is-size-3"><%= currency.substring(0,1) + ' ' + total%></span></td>
              </tfoot>
            <%}%>
<!-- <%# --------------------------------------------PAYMENT PENDING----------------------------------------------- %> -->
            <% if(type === "PAYMENT PENDING"){ %>
              <thead>
                <tr>
                  <th class = "report-header has-text-white">All Clients</th>
                  <th class = "report-header has-text-white"></th>
                </tr>
                <tr>
                  <th class = "is-size-4">Total Amount Pending:</th>
                  <th class = "is-size-4"><span class="is-pulled-right"><%=currency.substring(0,1)+ ' ' + total%></span></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class = "report-header has-text-white">Payment</th>
                </tr>
              </thead>
              <thead>
                <th>Date</th>
                <th>Client/Email</th>
                <th>Description</th>
                <th>Invoice #</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <%invoice.forEach((invoice) =>{%>
                  <%if(invoice.balanceDue > 0){ %>
                    <tr>
                      <td><%= invoice.date%></td>
                      <td>
                        <p class ="is-size-5">
                          <a href="/client/<%=invoice.client.id%>"><%= invoice.client.firstName.substring(0,1) + '. ' + invoice.client.lastName%></a>
                        </p>
                        <p class ="is-size-6 has-text-grey"><b><%= invoice.client.email%></b></p>
                      </td>  
                      <td><%= invoice.notes%></td>
                      <td><a href="/invoice/<%= invoice.id%>"><%= invoice.id%></a></td>
                      <td><%= currency.substring(0,1) + ' ' + invoice.balanceDue%></td>
                    </tr>
                  <% } %>
                <%})%>
              </tbody>

            <%}%>
<!-- <%# ---------------------------------------------PAYMENT RECEIVED------------------------------------------------------ %> -->
            <% if(type === "PAYMENT RECEIVED"){ %>
              <thead>
                <tr>
                  <th class = "report-header has-text-white">All Clients</th>
                  <th class = "report-header has-text-white"></th>
                </tr>
                <tr>
                  <th class = "is-size-4">Total Amount Collected:</th>
                  <th class = "is-size-4"><span class="is-pulled-right"><%=currency.substring(0,1)+ ' ' + total%></span></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class = "report-header has-text-white">Payment</th>
                </tr>
              </thead>
              <thead>
                <th>Date</th>
                <th>Client</th>
                <th>Description</th>
                <th>Invoice #</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <% invoice.forEach((invoice) =>{%>
                  <%if(invoice.amountPaid>0){%>
                    <tr>
                      <td><%= invoice.date%></td>
                      <td>
                        <p class ="is-size-5">
                          <a href="/client/<%=invoice.client.id%>"><%= invoice.client.firstName.substring(0,1) + '. ' + invoice.client.lastName%></a>
                        </p>
                        <p class ="is-size-6 has-text-grey"><b><%= invoice.client.email%></b></p>
                      </td>  
                      <td><%= invoice.notes%></td>
                      <td><a href="/invoice/<%= invoice.id%>"><%= invoice.id%></a></td>
                      <td><%=currency.substring(0,1)+ ' ' +  invoice.amountPaid%></td>
                    </tr>
                  <%}%>
                <%})%>
              </tbody>

            <%}%>
<!-- <%# --------------------------------------------------PROFIT AND LOSS----------------------------------------------------- %> -->
            <% if(type === "PROFIT LOSS"){ %>
              <thead>
                <th  class="report-header has-text-white">Billed Income</th>
              </thead>
              <thead class="report-body">
                <tr>
                  <th class ="is-size-4">Sales</th>
                  <td></td>
                  <td><span class="is-pulled-right is-size-4"><%= currency.substring(0,1)+ ' ' + salesTotal%></span></td>
                </tr>
                <tr>
                  <th>Invoice_ID</th>
                  <th>Client/ID</th>
                  <th><span class="is-pulled-right">Total</span></th>
                </tr>
              </thead>
              <tbody class = "report-body">
                  <% invoice.forEach((invoice) => {%> 
                      <tr>
                        <td><a href="/invoice/<%= invoice.id%>"><%= invoice.id%></a></td>
                        <td>
                          <p class = "is-size-7"><a href="/client/<%= invoice.client.id%>"><%=invoice.client.firstName.substring(0,1) + '. ' + invoice.client.lastName %></a></p>
                          <p class = "is-size-5"><b><%= invoice.client.id%></b></p>
                          </td>
                        <td><span class="is-pulled-right"><%= currency.substring(0,1)+ ' ' + invoice.total%></span></td>
                      </tr>
                    <%})%>                
              </tbody>
              <thead>
                <th class="report-header has-text-white">Expenses</th>
              </thead>
              <tbody class="report-body">
                <% expense.forEach((expense) =>{%>
                  <tr>
                    <th>
                      <p><%= expense.category%></p>
                      <p class = "has-text-grey-light is-size-7"><%= expense.vendor.Vendor_Name%></p>  
                    </th>
                    <td><span class="is-pulled-right"><%= currency.substring(0,1)+ ' ' + expense.amount%></span></td>
                  </tr>
                <%})%>
              </tbody>
              <tfoot>
                <th class ="is-size-4">Total Expense:</th>
                <td><span class="is-pulled-right is-size-4"><%= currency.substring(0,1)+ ' ' + expenseTotal%></span></td>
              </tfoot>
              <tfoot>
                <th class ="is-size-4">Net Profit/Loss:</th>
                <td><span class="is-pulled-right is-size-4"><%= currency.substring(0,1)+ ' ' + profit%></span></td>
              </tfoot>
            <%}%>

<!-- <%# -----------------------------------------------TRIAL BALANCE-------------------------------------------------- %> -->

            <% if(type === "TRIAL BALANCE"){ %>
              <thead>
                <th class = "report-header has-text-white">Summary</th>
              </thead>
              <thead>
                <th colspan="2">Category</th>
                <th>Debit</th>
                <th>Credit</th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">
                    <p class="is-size-4"><a href="/report/general-ledger">Cash</a></p>
                  </td>
                  <td>0.00</td>
                  <td>150000.00</td>
                </tr>

                <tr>
                  <td colspan="2">
                    <p class="is-size-4"><a href="/report/general-ledger">Account Receivable</a></p>
                  </td>
                  <td>150000.00</td>
                  <td>0.00</td>
                </tr>

                <tr>
                  <td colspan="2">
                    <p class="is-size-4"><a href="/report/general-ledger">Revenue</a></p>
                  </td>
                  <td>0.00</td>
                  <td>250000.00</td>
                </tr>

                <tr>
                  <td colspan="2">
                    <p class="is-size-4"><a href="/report/general-ledger">Education</a></p>
                  </td>
                  <td>250000.00</td>
                  <td>0.00</td>
                </tr>

                <tr>
                  <td colspan="2">
                    <p class="is-size-4"><a href="/report/general-ledger">Tax</a></p>
                  </td>
                  <td>0.00</td>
                  <td>0.00</td>
                </tr>

              </tbody>
              <tfoot>
                <th colspan="2">Total</th>
                <th>400000.00</th>
                <th>400000.00</th>
              </tfoot>
            <%}%>

<!-- <%# ----------------------------------BALANCE SHEET------------------------------------------------------------ %> -->

            <% if(type === "BALANCE SHEET"){ %>
              <thead>
                <th class="report-header has-text-white">Assets</th>
              </thead>
              <tbody class = "report-body">
                <tr>
                  <td>Cash</td>
                  <td><span class="is-pulled-right"><%= pseudoItem.paid%></span></td>
                </tr>
                <tr>
                  <td>Receivable</td>
                  <td><span class="is-pulled-right"><%= pseudoItem.due%></span></td>
                </tr>
                </tbody>
                <tfoot>
                  <th>Total Assets:</th>
                  <th><span class="is-pulled-right"> 250000.00</span></th>
                </tfoot>

              <thead>
                <th class="report-header has-text-white">Equity</th>
              </thead>
              <tbody class = "report-body">
                <tr>
                  <td>Income</td>
                  <td><span class="is-pulled-right"><%= pseudoItem.total%></span></td>
                </tr>
                </tbody>
                <tfoot>
                  <th>Total Equity:</th>
                  <th><span class="is-pulled-right"> 250000.00</span></th>
                </tfoot>
              <thead>
                <th class="report-header has-text-white">Liability</th>
              </thead>
              <tbody class = "report-body">
                <tr>
                  <td>Loan</td>
                  <td><span class="is-pulled-right">0.00</span></td>
                </tr>
                </tbody>
                <tfoot>
                  <th>Total Liability:</th>
                  <th><span class="is-pulled-right">0.00</span></th>
                </tfoot>


            <%}%>
<!-- <%# ----------------------------------GENERAL LEDGER------------------------------------------------------------ %> -->
            <% if(type === "GENERAL LEDGER"){ %>
              <thead>
                <th class = "report-header has-text-white">Cash</th>
              </thead>
              <thead>
                <th>Transaction/Reference</th>
                <th>Date/Client/Note</th>
                <th>Debit</th>
                <th>Credit</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Expense</a></p>
                    <p class="has-text-grey-light">Expense</p>
                  </td>
                  <td>
                    <p><%= pseudoExpense.date%></p>
                    <p>--</p>
                    <p class = "has-text-grey-light"><%= pseudoExpense.description%></p>
                  </td>
                  <td><%= %></td>
                  <td><%= pseudoExpense.total%></td>
                </tr>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Payment</a></p>
                    <p class="has-text-grey-light">Invoice <%= pseudoItem.invoiceID%></p>
                  </td>
                  <td>
                    <p><%= pseudoItem.invoiceDate%></p>
                    <p><%=pseudoItem.clientName%></p>
                    <p class = "has-text-grey-light"><%= pseudoItem.description%></p>
                  </td>
                  <td><%= pseudoItem.paid%></td>
                  <td><%= %></td>
                </tr>
              </tbody>
              <tfoot>
                <th colspan="2">Net Movement:</th>
                <th></th>
                <th>150000.00</th>
              </tfoot>

              <thead>
                <th class = "report-header has-text-white">Account Receivable</th>
              </thead>
              <thead>
                <th>Transaction/Reference</th>
                <th>Date/Client/Note</th>
                <th>Debit</th>
                <th>Credit</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Invoice</a></p>
                    <p class="has-text-grey-light">Invoice <%= pseudoItem.invoiceID%></p>
                  </td>
                  <td>
                    <p><%= pseudoItem.invoiceDate%></p>
                    <p><%= pseudoItem.clientName%></p>
                    <p class = "has-text-grey-light"><%= pseudoItem.description%></p>
                  </td>
                  <td><%= pseudoItem.total%></td>
                  <td><%= %></td>
                </tr>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Payment</a></p>
                    <p class="has-text-grey-light">Invoice <%= pseudoItem.invoiceID%></p>
                  </td>
                  <td>
                    <p><%= pseudoItem.paidDate%></p>
                    <p><%=pseudoItem.clientName%></p>
                    <p class = "has-text-grey-light"><%= pseudoItem.description%></p>
                  </td>
                  <td><%= %></td>
                  <td><%= pseudoItem.paid%></td>
                </tr>
              </tbody>
              <tfoot>
                <th colspan="2">Net Movement:</th>
                <th>150000.00</th>
                <th></th>
              </tfoot>
              <thead>
                <th class = "report-header has-text-white">Revenue</th>
              </thead>
              <thead>
                <th>Transaction/Reference</th>
                <th>Date/Client/Type</th>
                <th>Debit</th>
                <th>Credit</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Invoice</a></p>
                    <p class="has-text-grey-light">Invoice <%= pseudoItem.invoiceID%></p>
                  </td>
                  <td>
                    <p><%= pseudoItem.invoiceDate%></p>
                    <p><%= pseudoItem.clientName%></p>
                    <p class = "has-text-grey-light"><%= pseudoItem.itemType%></p>
                  </td>
                  <td><%= %></td>
                  <td><%= pseudoItem.total%></td>
                </tr>

              </tbody>
              <tfoot>
                <th colspan="2">Net Movement:</th>
                <th></th>
                <th>250000.00</th>
              </tfoot>

              <thead>
                <th class = "report-header has-text-white"><%= pseudoExpense.expenseType%></th>
              </thead>
              <thead>
                <th>Transaction/Reference</th>
                <th>Date/Client/Note</th>
                <th>Debit</th>
                <th>Credit</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Expense</a></p>
                    <p class="has-text-grey-light">Expense</p>
                  </td>
                  <td>
                    <p><%= pseudoExpense.date%></p>
                    <p>--</p>
                    <p class = "has-text-grey-light"><%= pseudoExpense.description%></p>
                  </td>
                  <td><%= pseudoExpense.amount%></td>
                  <td><%= %></td>
                </tr>

              </tbody>
              <tfoot>
                <th colspan="2">Net Movement:</th>
                <th>250000.00</th>
                <th></th>
              </tfoot>

              <thead>
                <th class = "report-header has-text-white">Tax</th>
              </thead>
              <thead>
                <th>Transaction/Reference</th>
                <th>Date/Client/Note</th>
                <th>Debit</th>
                <th>Credit</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class = "is-size-4 "><a href="#">Expense</a></p>
                    <p class="has-text-grey-light">Expense</p>
                  </td>
                  <td>
                    <p><%= pseudoExpense.date%></p>
                    <p>--</p>
                    <p class = "has-text-grey-light">--</p>
                  </td>
                  <td><%= pseudoExpense.tax%></td>
                  <td><%= %></td>
                </tr>

              </tbody>
              <tfoot>
                <th colspan="2">Net Movement:</th>
                <th></th>
                <th></th>
              </tfoot>
            <%}%>


          </table>
        </div>


      </div>
  </div>
</div>
<% include ../partials/footer %>
